<div id="shoppingCartContainer" data-shopping-cart-type="compare" data-shopping-cart-data="{&quot;items_total&quot;: {{ countUniqueTotal }} }">
    <h1>
        {{ 'Compare' | trans }}
    </h1>

    {% if items | length > 0 %}

        {{ contentList(
            'content_list_compare',
            items[0].contentTypeName,
            {"isActive": true, "_id": {"$in": itemsIds}},
            {"_id": "asc"},
            3, 1, '', '', '', {currency: currency}
        ) }}

    {% else %}
        <div class="uk-alert-primary uk-box-shadow-small border" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p>{{ 'Compare is empty' | trans }}.</p>
        </div>
    {% endif %}

</div>
