{% for type, messages in app.flashes %}
    {% for message in messages %}
        <div class="uk-alert-{% if type == 'errors' %}danger{% else %}info{% endif %} uk-box-shadow-small" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p>{{ message | trans }}.</p>
        </div>
    {% endfor %}
{% endfor %}