{% extends 'base.html.twig' %}

{% set shoppingCartTemplateName = 'shop_cart_edit' %}
{% if shoppingCartContentType == 'favorites' %}
    {% set shoppingCartTemplateName = 'favorites_edit' %}
{% elseif shoppingCartContentType == 'compare' %}
    {% set shoppingCartTemplateName = 'compare_edit' %}
{% endif %}

{% block body %}
    <section class="uk-section uk-section-small">
        <div class="uk-container">

            <div class="min-height300">

                {% include 'flash_messages.html.twig' %}

                {{ shopCart(shoppingCartTemplateName, shoppingCartContentType) }}

            </div>

        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/uikit-ecommerce/scripts/checkout-page.js') }}"></script>
{% endblock %}
