<section class="uk-section uk-section-primary uk-section-small uk-light">
    <div class="uk-container">
        <div class="uk-text-center">
            <div class="uk-h2 uk-margin-remove">{{ 'Subscribe for updates' | trans }}</div>
            <div>{{ 'Be aware of new products and special offers.' | trans }}</div>
        </div>
        <div class="uk-margin">
            <form>
                <div class="uk-grid-small uk-flex-center" uk-grid>
                    <div class="uk-width-1-1 uk-width-medium@s">
                        <div class="uk-inline uk-width-1-1"><span class="uk-form-icon" uk-icon="mail"></span>
                            <input class="uk-input" type="email" placeholder="{{ 'Your email' | trans }}" required>
                        </div>
                    </div>
                    <div>
                        <button class="uk-button uk-button-primary">{{ 'Subscribe' | trans }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
