{% if items | length > 0 %}
    <div class="uk-margin-small-bottom">
        {% for item in items %}
            <a href="{{ catalogPath('brand/', item.name, item) }}">
                <img src="{{ imageUrl(item.image, '/img/nofoto.png')}}" alt="{{ item.title }}" style="height:50px;">
            </a>
        {% endfor %}
    </div>
{% endif %}