<div class="uk-width-1-1 uk-width-expand@m">
    <div class="uk-grid-collapse uk-child-width-1-1" uk-slideshow="finite: true; ratio: 4:3;" uk-grid>
        <div>
            <ul class="uk-slideshow-items" uk-lightbox>
                {% if fileFields | length > 0 %}
                    {% for fieldName in fileFields|keys %}
                        <li>
                            <a class="uk-card-body tm-media-box tm-media-box-zoom" href="{{ imageUrl(fileFields[fieldName]) }}">
                                <figure class="tm-media-box-wrap">
                                    <img src="{{ imageUrl(fileFields[fieldName]) | imagine_filter('thumb_medium') }}" alt="">
                                </figure>
                            </a>
                        </li>
                    {% endfor %}
                {% else %}
                    <li><img src="/img/nofoto.png" alt="" style="width: 100%;"></li>
                {% endif %}
            </ul>
        </div>
        <div>
            <div class="uk-card-body uk-flex uk-flex-center">
                <div class="uk-width-1-2 uk-visible@s">
                    <div uk-slider="finite: true" id="thumbs-slider">
                        <div class="uk-position-relative">
                            <div class="uk-slider-container">
                                <ul class="tm-slider-items uk-slider-items uk-child-width-1-4 uk-grid uk-grid-small">
                                    {% for fieldName in fileFields|keys %}
                                        <li uk-slideshow-item="{{ loop.index0 }}">
                                            <div class="tm-ratio tm-ratio-1-1">
                                                <a class="tm-media-box tm-media-box-frame">
                                                    <figure class="tm-media-box-wrap">
                                                        <img src="{{ imageUrl(fileFields[fieldName]) | imagine_filter('thumb_small') }}" alt="">
                                                    </figure>
                                                </a>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <div>
                                    <a class="uk-position-center-left-out uk-position-small" href="#" uk-slider-item="previous" uk-slidenav-previous></a>
                                    <a class="uk-position-center-right-out uk-position-small" href="#" uk-slider-item="next" uk-slidenav-next></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="uk-slideshow-nav uk-dotnav uk-hidden@s"></ul>
            </div>
        </div>
    </div>
</div>