{% for tagValue in data %}
    <span class="uk-label uk-margin-xsmall-right {{ switch(arraySearch(tagValue, fieldProperties.inputProperties.values_list|split('||')), [0, 1, 2], ['uk-label-info', 'uk-label-warning', 'uk-label-danger']) }}">
        {{ tagValue | trans }}
    </span>
{% endfor %}
