<div class="tm-product-card-labels">
    {% for tagValue in data %}
        <span class="uk-label {{ switch(arraySearch(tagValue, fieldProperties.inputProperties.values_list|split('||')), [0, 1, 2], ['uk-label-danger', 'uk-label-warning', 'uk-label-info']) }}">
            {{ tagValue }}
        </span>
    {% endfor %}
</div>